<!DOCTYPE html>
<html lang="zh" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>智能门禁方案选购</title>
	
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/demo.css">
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<!--[if IE]>
		<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
	
</head>
<body>
	<div class="cd-product-builder">
		<header class="main-header">
			<h1 class="title">智慧门禁系统选购</h1>
			<nav class="cd-builder-main-nav disabled">
				<ul>
					<li class="active"><a href="#models">一体化门房</a></li>
					<li><a href="#position">门禁位置</a></li>
					<li><a href="#colors">门房尺寸</a></li>
					<li><a href="#doors">闸机组合</a></li>
					<li><a href="#accessories">可选项</a></li>
					<li><a href="#summary">结算</a></li>
				</ul>
			</nav>

		</header>

		<div class="cd-builder-steps">
			<ul>
				<li data-selection="models" class="active builder-step">
					<section class="cd-step-content">
						<header>
							<h1>选择门房</h1>
							<span class="steps-indicator">步骤 <b>1</b> / 6</span>
						</header>
						<ul class="models-list options-list cd-col-2">
							<li class="js-option js-radio" data-price="42400" data-model="product_01">
								<span class="name">箱式门房</span>
								<img src="img/箱式门房.jpg" alt="箱式门房3" style="height: 17em;object-fit: contain">
								<span class="price">￥42,400 起</span>
								<div class="radio"></div>
							</li>

							<li class="js-option js-radio" data-price="140700" data-model="product_02">
								<span class="name">集装箱式门房</span>
								<img src="img/集装箱式门房.png" alt="集装箱式门房" style="height: 17em;object-fit: contain">
								<span class="price">￥140,700 起</span>
								<div class="radio"></div>
							</li>
						</ul>
					</section>
				</li>
				<!-- additional content will be inserted using ajax -->
			</ul>
		</div>

		<footer class="cd-builder-footer disabled step-1">
			<div class="selected-product">
				<img src="img/箱式门房.jpg" alt="Product preview" style="height: 6em;object-fit: contain">

				<div class="tot-price">
					<span>总 价</span>
					<span class="total">￥<b id="total_price">0</b></span>
				</div>
			</div>
			
			<nav class="cd-builder-secondary-nav">
				<ul>
					<li class="next nav-item">
						<ul>
							<li class="visible"><a href="#0">门禁位置</a></li>
							<li><a href="#0">门房尺寸</a></li>
							<li><a href="#0">闸机组合</a></li>
							<li><a href="#0">可选项</a></li>
							<li><a href="#0">结算</a></li>
							<li class="buy"><a href="#0">完成</a></li>
						</ul>
					</li>
					<li class="prev nav-item">
						<ul>
							<li class="visible"><a href="#0">选择门房</a></li>
							<li><a href="#0">选择门房</a></li>
							<li><a href="#0">门禁位置</a></li>
							<li><a href="#0">门房尺寸</a></li>
							<li><a href="#0">闸机组合</a></li>
							<li><a href="#0">可选项</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<span class="alert">请先选择一种类型!</span>
		</footer>
	</div>
	
	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script> <!-- Resource jQuery -->
	
</body>
</html>