<li data-selection="position" class="builder-step first-load">
    <section class="cd-step-content">
        <header>
            <h1>门禁位置</h1>
            <span class="steps-indicator">步骤 <b>2</b> / 6</span>
        </header>

        <ul class="cd-product-previews">
            <li class="selected"><img src="img/position1.png" alt="Product Preview" class="product-preview"
                                      style="height: 20em;object-fit: contain" >
                <span style="text-align: center;display: block;font-size: 2rem;font-weight: bold;margin-top: 2em;">办公区入口</span>
            </li>
            <li><img src="img/position3.png" alt="Product Preview" class="product-preview"
                     style="height: 20em;object-fit: contain">
                <span style="text-align: center;display: block;font-size: 2rem;font-weight: bold;margin-top: 2em;">生活区入口</span>
            </li>
            <li><img src="img/position2.png" alt="Product Preview" class="product-preview"
                     style="height: 20em;object-fit: contain">
                <span style="text-align: center;display: block;font-size: 2rem;font-weight: bold;margin-top: 2em;">内部通道入口</span>
            </li>
        </ul>

        <ul class="cd-product-customizer">
            <li data-content="办公区入口" data-price="0" class="selected"><a data-color="white" href="#0"></a></li>
            <li data-content="生活区入口" data-price="0"><a data-color="perl" href="#0"></a></li>
            <li data-content="内部通道入口" data-price="0"><a data-color="grey" href="#0"></a></li>
        </ul>
    </section>
</li>

<li data-selection="colors" class="builder-step first-load">
    <section class="cd-step-content">
        <header>
            <h1>Select Color</h1>
            <span class="steps-indicator">Step <b>3</b> of 6</span>
        </header>

        <ul class="cd-product-previews">
            <li class="selected"><img src="img/集装箱尺寸2.png" alt="Product Preview" class="product-preview"
                                      style="height: 20em;object-fit: contain">
                <span style="text-align: center;display: block;font-size: 2rem;font-weight: bold;margin-top: 2em;">5158mm*2438mm*3091mm</span>
            </li>
            <li><img src="img/集装箱尺寸1.png" alt="Product Preview" class="product-preview"
                     style="height: 20em;object-fit: contain">
                <span style="text-align: center;display: block;font-size: 2rem;font-weight: bold;margin-top: 2em;">6058mm*2438mm*3091mm</span>
            </li>
        </ul>

        <ul class="cd-product-customizer">
            <li data-content="· 小型 ￥0" data-price="0" class="selected"><a data-color="grey" href="#0">小型 - ￥0</a></li>
            <li data-content="· 大型 ￥1,800" data-price="1800"><a data-color="perl" href="#0">大型 - ￥1,800</a></li>
        </ul>
    </section>
</li>

<li data-selection="doors" class="builder-step first-load">
    <section class="cd-step-content">
        <header>
            <h1>选择闸机组合</h1>
            <span class="steps-indicator">步骤 <b>4</b> / 6</span>
        </header>
        <ul class="models-list options-list cd-col-2" data-optionnum="6">
            <li class="js-option js-radio" data-price="0" data-door="·  2三辊闸+1摆闸  ￥0" id="door1">
                <span class="name">2三辊闸+1摆闸<br></span>
                <span class="intro">-适用于高峰进出650人以下</span>
                <img src="img/集装箱尺寸1.png" alt="集装箱式门房" style="height: 10em;object-fit: contain">
                <span class="price">￥0</span>
                <div class="radio"></div>
            </li>

            <li class="js-option js-radio" data-price="0" data-door="·  1三辊闸+1摆闸  ￥0" id="door2">
                <span class="name">1三辊闸+1摆闸<br></span>
                <span class="intro">-适用于高峰进出450人以下</span>
                <img src="img/集装箱尺寸2.png" alt="集装箱式门房" style="height: 10em;object-fit: contain">
                <span class="price">￥0</span>
                <div class="radio"></div>
            </li>

            <li class="js-option js-radio" data-price="2000" data-door="·   2翼闸+1摆闸  ￥2,000" id="door3">
                <span class="name">2翼闸+1摆闸<br></span>
                <span class="intro">-适用于高峰进出850人以下</span>
                <img src="img/集装箱尺寸3.png" alt="集装箱式门房" style="height: 10em;object-fit: contain">
                <span class="price">￥2,000 起</span>
                <div class="radio"></div>
            </li>

            <li class="js-option js-radio" data-price="1000" data-door="·   1翼闸+1摆闸  ￥1,000" id="door4">
                <span class="name">1翼闸+1摆闸<br></span>
                <span class="intro">-适用于高峰进出550人以下</span>
                <img src="img/集装箱尺寸4.png" alt="集装箱式门房" style="height: 10em;object-fit: contain">
                <span class="price">￥1,000 起</span>
                <div class="radio"></div>
            </li>

            <li class="js-option js-radio" data-price="2500" data-door="·   2进2出两通道全高闸  ￥2,500" id="door5">
                <span class="name">2进2出两通道全高闸<br>+1电子锁门<br></span>
                <span class="intro">-适用于300人以下</span>
                <img src="img/集装箱尺寸5.png" alt="集装箱式门房" style="height: 10em;object-fit: contain">
                <span class="price">￥2,500 起</span>
                <div class="radio"></div>
            </li>

            <li class="js-option js-radio" data-price="3000" data-door="·   2进2出三通道全高闸  ￥3,000" id="door6">
                <span class="name">2进2出三通道全高闸<br></span>
                <span class="intro">-适用于450人以下</span>
                <img src="img/集装箱尺寸6.png" alt="集装箱式门房" style="height: 10em;object-fit: contain">
                <span class="price">￥3,000 起</span>
                <div class="radio"></div>
            </li>
        </ul>
    </section>
</li>

<li data-selection="accessories" class="builder-step first-load">
    <section class="cd-step-content">
        <header>
            <h1>可选项</h1>
            <span class="steps-indicator">步骤 <b>5</b> / 6</span>
        </header>

        <ul class="accessories-list options-list">
            <li class="js-option" data-price="1080">
                <p>监控摄像头</p>

                <span class="price">￥1080</span>

                <div class="check"></div>
            </li>

            <li class="js-option" data-price="1895">
                <p>卷帘门</p>

                <span class="price">￥1895</span>

                <div class="check"></div>
            </li>

            <li class="js-option" data-price="975">
                <p>电视屏</p>

                <span class="price">￥975</span>

                <div class="check"></div>
            </li>
            <li class="js-option" data-price="215">
                <p>LED屏</p>

                <span class="price">￥215</span>

                <div class="check"></div>
            </li>
            <li class="js-option" data-price="40">
                <p>吸顶灯</p>

                <span class="price">￥40</span>

                <div class="check"></div>
            </li>
        </ul>
    </section>
</li>

<li data-selection="summary" class="builder-step first-load">
    <section class="cd-step-content">
        <header>
            <h1>结算</h1>
            <span class="steps-indicator">步骤 <b>6</b> / 6</span>
        </header>

        <ul class="summary-list">
            <li>
                <h2>门房</h2>
                <img src="img/集装箱式门房.png"  class="product-preview"
                     style="height: 15em;object-fit: contain">
                <h2>集装箱式门房</h2>
                <p>
                    集装箱式门房或者系统的简单介绍。
                </p>
            </li>

            <li data-summary="position">
                <h2>门房位置</h2>
                <span class="summary-position">
					<img src="img/position1.png"  class="box-position" data-position="1"
                         style="height: 15em;object-fit: contain"></img>
					<h2 class="position-label">Position 0</h2>
				</span>
            </li>

            <li data-summary="colors">
                <h2>门房尺寸和闸机组合</h2>
                <span class="summary-color">
					<img src="img/集装箱式1.png" class="box-size" data-color="red"
                         style="height: 10em;object-fit: contain"></img>
					<em class="color-label">未选择</em>
                    <em class="door-label">未选择</em>
				</span>
            </li>


            <li data-summary="accessories">
                <h2>可选项</h2>
                <ul class="summary-accessories">
                    <li>
                        <p>没有选择可选项</p>
                    </li>
                </ul>
            </li>

            <li data-summary="devices">
                <h2>设备清单</h2>
                <span class="summary-device">
					<img src="img/设备清单.png"
                         style="height: 22em;object-fit: contain"></img>
				</span>
            </li>

            <li data-summary="total-price">
                <h3>总价</h3>

                <h3 class="summary-total-price">
                    ￥0
                </h3>
            </li>
        </ul>
    </section>
</li>
